.register-card {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  input {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .button {
    background-color: #000;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem; /* Adds consistent spacing for both buttons */
    width: 100%; /* Ensure both buttons have the same width */
  }
  
  .button:hover {
    background-color: #333;
  }
  